
.acontainer{
    padding: 5px;
    background-color: transparent;
    height: 96%;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.resumo {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px;
    margin-top: 2vh;

    
}

.tAtividade{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vh;
    
}

.atividade{
    display: flex;
    align-items: center;
}

.subDetalhe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalhes{
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

.listaAtividade{
    width: 99,7%;
    height: 73%;
    overflow-y: auto;
    margin-top: 1vh;
    border-radius: 5px;
    border: 1px solid grey;
    box-sizing: border-box;

}

.listaAtividade::-webkit-scrollbar-track {
    background: transparent; 

}


.aLabel{
    font-family: sans-serif;
    font-weight: bold;
     color: #fefefe;
}

.h3Atividade{
    font-family: sans-serif;
    color: #fefefe;
}

.aIcon{
    width: 4vw;
    height: 4vh;
    color: #fefefe;
}

.aButton{
    width: 10vw;
    height: 4vh;
    background-color: yellow;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.aButton:hover{
    border: 1px solid grey;
}

.cardAtv{
    border: 1px solid grey;
    margin: 1vh;
    padding: 1vh;
    background-color: #1e1e1e;
    border-radius: 5px;

    display: flex;

}

.cardBody{
    background-color: #1e1e1e;
}

.cardBody p{
    font-family: sans-serif;
    color: #fefefe;
}

.cardHeader h4{
    font-family: sans-serif;
    color: #fefefe;
    
}

.opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.cardInfo{
    width: 50%;
    padding-left: 10%;
}

.btnOpcao{
    width: 10vw;
    height: 4vh;
    background-color: yellow;
    border: 1px solid yellow;
    color: #1f1f1f;
    font-weight: bolder;
    cursor: pointer;
}

.btnExcluir{
    width: 10vw;
    height: 4vh;
    background-color: transparent;
    border: 1px solid red;
    color: red;
    font-weight: bolder;
    cursor: pointer;
}

.btnExcluir svg {
    color: red;
}

.cardAtv p span {
    
    color: #B0B0B0;
}