.main{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 98%;
    background-color: #1e1e1e;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo svg {
    color: #FFFFFF;
    width: 5vw;
    height: 5vh;
}

.titulo span{
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #FFFFFF;
}

.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
}

.conteudo span{
    font-family: sans-serif;
    margin-top: 3px;
    color: #FFFFFF;
}

.lTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lTitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lTitulo svg {
  
    padding-right: 4px;
    color: #FFFFFF;
}

.sNegrito{
    font-family: sans-serif;
    font-weight: bold;
    color:  #FFFFFF!important;
    border: 0;
    margin-right: 1vw;
}

.detalhe{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.dDireita{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo span{
    color: #B0B0B0;
}