.main {
    width: 100vw;
    height: 100%;
    background-color: whitesmoke;
    box-sizing: border-box;
    overflow-y: auto;
    
}

.container {
    display: flex;
    width: 100%;
    height: 92.8vh;
  
}

.content {

 width: 100%;
}

.gridObras {
   display: grid;
   grid-template-columns: repeat(auto-fill, 31%);
   justify-content: center; /* Garante que o grid comece na esquerda */ 
   padding-top: 10vh;
   width: 100%;
   gap: 15px;
   grid-auto-flow: row;
 
}

.cardObra {
    background-color:  #fff;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform 0.2s, border-color 0.2s;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    
}

.cardObra:hover {
    transform: translateY(-5px);
    border-color: lightblue /* Destaque amarelo ao passar o mouse */
}

.cardHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardHeader h3 {
    margin: 0;
    font-size: 1.2rem;
    color: gray;
}

.cardBody p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: gray;
}

.btnAcessar {
    background-color: #87CEEB;
    border: 1px solid  #87CEEB;
    color:whitesmoke;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.btnAcessar:hover {
    background-color: transparent;
    color: #87CEEB;
}

.listaProjetos{
  
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    
}

.btnAcao{
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.6s;
    width: 4vw;
    height: 6vh;
    border-radius: 50%;
    margin-left: 1vw;
}

.btnAcao:hover{
    background-color: rgb(229, 246, 252);

}

.svgTrash{
    color: red;
    width: 4vw;
}

.svgEdit{
    color: blue;
    width: 4vw;
}


@media screen and (max-width: 768px) {
  .gridObras {
    display: flex;
    flex-direction: column;
  }
}