.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.container{
    background-color: lightcoral;
    width: 70%;
    height: 85%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav{
    background-color: brown;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
    width: 99%;
    height: 5vh;
    border-radius: 15px;
    padding: 4px;

}

li{
    list-style: none;
}

.container ul li button {
    height: 100%;
    width: 15vw;
    border-radius: 12px;
    border: none;

}

.detalhe{
    width: 100%;
    height: 100%;
    background-color: bisque;
    margin-top: 2vh;
    padding: 3px;
}