.modal {

    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    margin-top: 0,8em;
   

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.container{
    width: 100%;
    height: 95%;
    background-color:  #F8F9FA;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
  

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.group{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  width: 100%;
  padding: 5px;
  margin-bottom: 2vh;
}
.group input{
    width: 90%;
}

.groupInputs{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.groupInputs input{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid darkgray;
    font-size: medium;
    padding: 1px;
    margin-left: 1em;

}

.groupInputs label{

    margin-left: 1em;

}



.groupInputs input:focus{
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
}

.mInput input{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid darkgray;
    outline: none;
    padding: 1px;
    margin-left: 1em;
}

.mInput label{
  
    margin-left: 1em;
}

.mInput input:focus{
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
}

.aButton {
    
    margin-top: 2vh;
    margin-bottom: 1vh;
    border: none;
    background-color: yellow;
    width: 25%;
    height: 5vh;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;
}

.aButton:hover{
    border: 1px solid #1e1e1e;
}

.mInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3vh;

}

.container label{
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 2vh;
    color: black;
}

.titulo h2 {
    font-family: sans-serif;
    margin-bottom: 3vh;
    color: black;
}

input {
    font-size: medium;
}

.groupInputs input[type="date"]{
    color: black!important;
    font-size: medium;
}

.groupButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}