.modal {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 35%;
    height: 85%;
    background-color:  #F8F9FA;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    z-index: 1001;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  width: 100%;
  padding: 5px;

  margin-bottom: 2vh;
}
.group input{
    width: 90%;
}

.groupInputs{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.groupInputs input{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid darkgray;
    font-size: medium;
    padding: 1px;

}

.groupInputs input:focus{
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
}

.mInput input{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid darkgray;
    outline: none;
    padding: 1px;
}

.mInput input:focus{
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
}

.aButton {
    
    margin-top: 3vh;
    border: none;
    background-color: yellow;
    width: 45%;
    height: 5vh;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.6s;
    cursor: pointer;
}

.aButton:hover{
    border: 1px solid #1e1e1e;
}

.mInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3vh;

}

.container label{
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 2vh;
    color: black;
}

.titulo h2 {
    font-family: sans-serif;
    margin-bottom: 3vh;
    color: black;
}

input {
    font-size: medium;
}

.groupInputs input[type="date"]{
    color: black!important;
    font-size: medium;
}