
.navbar{
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}


.btnMenu {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Estilizando o ícone especificamente */
.btnMenu svg {
  fill: white; /* Cor do ícone */
  width: 4vw; 
  height: 4vh;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2)); /* Sombra */
}

/* Efeito de hover */
.btnMenu:hover svg {
  fill: yellow; /* Muda a cor ao passar o mouse */
  transform: scale(1.2);
}

span{
  color: white;
  margin-right: 2vw;
}

.menu{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.detalhe{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cDetalhe{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nIcon{
  margin-right: 1vw;
  color: white;
}

.detalhe button {

    border: none;
    background-color: yellow;
    width: 15%;
    height: 4vh;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.6s;
    color: black;
}

.dethalhe button svg {
  color: green;
  margin-right: 5px;
  size: 4vw;
}

.detalhe button:hover{
    border: 2px solid yellow;
    background-color: transparent;
    width: 15%;
    height: 4vh;
    font-family: sans-serif;
    font-weight: bold;
    color: yellow;

}