
.navbar{
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}


.btnMenu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

/* Estilizando o ícone especificamente */
.btnMenu svg {
  fill: white; /* Cor do ícone */
  width: 4vw; 
  height: 4vh;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.2)); /* Sombra */
}

/* Efeito de hover */
.btnMenu:hover svg {
  fill: yellow; /* Muda a cor ao passar o mouse */
  transform: scale(1.2);
}