.sidebar {
    width: 12vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 3vh;
    padding-left: 1vw;
    z-index: 1005;
    position: fixed;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
   
}

.sidebar ul li {
    color: #F8F9FA;
    list-style: none;
    font-family: sans-serif;
    margin-bottom: 1vh;

}

.sidebar ul li:hover {
    color: yellow;
    list-style: none;
    font-family: sans-serif;
    margin-bottom: 1vh;
    cursor: pointer;
}

.sidebar span {
    color: #F8F9FA;
    font-family: sans-serif;
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-weight: bold;
    font-style: oblique;
    
  

}

.icon {

    margin-right: 1vw;
}