.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Configurações da Imagem de Fundo */
    background-image: url('../../assets/fundo.jpg'); /* Caminho da imagem */
    background-size: cover;      /* Faz a imagem cobrir todo o espaço disponível */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem fique se repetindo */
}

.container{
    width: 25vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container button{
    
    margin-top: 3vh;
    border: none;
    background-color: lightgray;
    width: 45%;
    height: 5vh;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.6s;
}

.container button:hover{
    border: 2px solid lightgray;
    background-color: transparent;
    width: 45%;
    height: 5vh;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3vh;
    color: lightgray;

}

.inputs {
    background-color: transparent;
    border-bottom: 0.1em solid lightgray;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    padding: 8px 0;           /* Padding vertical simplificado */
    gap: 12px;
}


.inputs input{
    background-color: transparent;
    border: none;
    font-size: medium;
    outline: none;
    color: lightgray;
    height: 100%;
    width: 100%;
}

.inputIcon {
    width: 1.5em;
    height: 1.5em;
    color: lightgray;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.login h1{
    color: lightgray;
    font-family: sans-serif;
}